body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: white;
}

#maindiv {
    width: 800px;
    margin: auto;
    padding: 50px;
}

.screen-container {
    position: relative;
    background-color: white;
    color: black;
    border: 5px solid black;
    width: 400px;
    height: 300px;
}

.left-container {
    width: 250px;
    height: 270px;
    font-size: 25px;
}

.right-container {
    width: 150px;
    height: 270px;
    position: absolute;
    left: 250px;
    top: 0px;
}

.bottom-container {
    width: 400px;
    height: 30px;
    position: absolute;
    top: 270px;
}

.data-table {
    font-size: 22px;
    text-align: left;
    table-layout: fixed;
}

.data-name {
    width: 120px;
}

.data-value {
    width: 100px;
    text-align: right;
}

.data-unit {
    width: 30px;
}

.small {
    font-size: 18px;
}

.large {
    font-size: 30px;
}

.leftspace {
    padding-left: 20px;
}

.grid-balance {
    margin: 15px 15px 0px 15px;
    font-size: 50px;
    font-weight: bolder;
    text-align: right;
    table-layout: fixed;
}

.negative {
    background-color: black;
    color: white;
}

.grid-balance-value {
    width: 160px;
}

.grid-balance-unit {
    width: 50px;
    font-size: 40px;
    font-weight: normal;
    text-align: left;
}

.grid-status {
    width: 250px;
    text-align: center;
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
}

.bottom-container p {
    margin: 0px;
    padding: 5px;
    font-size: 15px;
}